.min-height-80vh {
  min-height: 80vh;
}
.register-button {
  padding: 1rem;
  background-color: navy;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
}
.register-button:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px;
}
