.desktop-navigation-menu {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px;
}

.desktop-menu-list {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  width: 100%;
  list-style: none;
}

.desktop-menu-list .menu-category > .menu-title {
  position: relative;
  color: var(--onyx);
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 0;
  transition: 0.2s ease;
}

.desktop-menu-list .menu-category > .menu-title:hover {
  color: black;
}

.desktop-menu-list .menu-category > .menu-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.2s ease;
}

.desktop-menu-list .menu-category > .menu-title:hover::after {
  transform: scaleX(1);
}

@media screen and (max-width: 767px) {
  .desktop-navigation-menu {
    display: none;
  }
}
